@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url("../src/assets/bg.svg");
}

/* .big-text{
    font-size: 116px;
    font-weight: 300;
    margin-right: 20px;
    font-weight: 500;
} */

body{
    font-family: "Montserrat", sans-serif;
}